						{% if is_granted('ROLE_USER') %}
							 
						<div class="from">
					Note:
						{% for stat in stat %}
							
						{% if beer.id == stat.Beer.id %}
						{{ stat.score }}
				
						{% endif %}
						{% endfor %}
						</div>
					{% endif %}


{% if beer.country %}
	<ul>
		<li><i class="bi bi-geo-alt"></i> Origine:<a class="nav-link active" href="{{ path('showBeerCountry', { id : beer.country.id }) }}"> {{ beer.country.name }} </a>
 		</li>
	</ul>
{% endif %}


{% set normals = normal(beer) %}
{% set specials = special(beer) %}
{% if normals %}
	<ul>
		<li>
			Categorie normale :
			{% for category in normals %}
				<li><a class="nav-link active" href="{{ path('showBeerCategory', { id : category.id }) }}">{{ category.name }} </a> </li>
			{% endfor %}
		</li>
	</ul>
{% endif %}
{% if specials %}
	<ul>
		<li>
			Categorie(s) speciale(s) :
			{% for category in special(beer) %}
				<li><a class="nav-link active" href="{{ path('showBeerCategory', { id : category.id }) }}">{{ category.name }} </a> </li>
			{% endfor %}
		</li>


		</li>
	</ul>
{% endif %}