{% extends 'base.html.twig' %}

{% block title %}
	Catégorie {{ title }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="row">
			<h1>Catégorie {{ title}}
			</h1>
			{% for beer in beers %}
				<div class="col-sm-6">
					<div class="card card__beers">
						<div class="card-body">
							<h5 class="card-title">
							<a class="nav-link"  href="{{ path('showBeer', { id : beer.id}) }}">{{ beer.name }}</a>
							</h5>
							{% if beer.publishedAt is defined %}
								<p>Date de création :
									{{ beer.publishedAt | date('d-m-Y') }}
								</p>
							{% endif %}
							
								{% if beer.price is defined  %}
									Price:
									{{ beer.price }}
									&euro;
								{% endif %}

								<div>
    							Description: {{ beer.description ?? 'pas description'}}
    							</div>
								<div>
									<img src="{{ asset('build/images/biere.jpg') }}" class="rounded mx-auto d-block" alt="biere" />
								</div>
								
								{% include 'partials/meta.html.twig' %}
							
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
{% endblock %}
