{% extends 'base.html.twig' %}

{% block title %}
	Biere {{ title }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="row">
			<h1>Biere {{ title }}
			</h1>
			

				<div class="col-sm">

					<div class="card card__beers">
						<div class="card-body">
							<h5 class="card-title">
						{{ beer.name }}
							</h5>
							{% if beer.publishedAt is defined %}
								<p>Date de création :
									{{ beer.publishedAt | date('d-m-Y') }}
								</p>
							{% endif %}
							
								{% if beer.price is defined  %}
									Price:
									{{ beer.price }}
									<i class="bi bi-currency-euro"></i>
								{% endif %}

								<div>
  								  Description: {{ beer.description ?? 'pas description'}}
    							</div>
								<div class="col">

									  <img src="{{ asset('build/images/biere.jpg') }}" class="rounded mx-auto d-block" alt="biere" />

								</div>

				
										{% for stat in stat %}
							
						{% if beer.id == stat.Beer.id %}
						
						{{ form(from) }}
						{% endif %}
						{% endfor %}

								{% include 'partials/meta.html.twig' %}
							
						</div>
					</div>
				</div>
			
		</div>
{% endblock %}
