{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block body %}


{% if is_granted('ROLE_USER') %}
 {% for client in clients %}
  <h1>Fiche Client</h1>
  <article>
  
    <div>Nom: {{ client.name }}</div>
    <div>Email: {{ client.email }}</div>
    <div>Poid: {{ client.weight }}</div>
    <div>Age: {{ client.age }}</div>
   <div>Nombre de bieres: {{ totalBeers(client.id) }}</div>
  </article>
{% endfor %}

{% endif %}
{% endblock %}
