{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block body %}


{% if is_granted('ROLE_USER') %}
 {% for client in clients %}
  <article>
    <p>Id: {{ client.id }}</p>
    <p>Nom: {{ client.name }}</p>
    <p>Email: {{ client.email }}</p>
    <p>Poid: {{ client.weight }}</p>
    <p>Age: {{ client.age }}</p>
   <p>Nombre de bieres: {{ totalBeers(client.id) }}</p>
  </article>
{% endfor %}

{% endif %}
{% endblock %}
